@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label {
    @apply text-sm text-gray7 font-normal;
  }

  .input {
    @apply mt-2 w-full border-[1px] border-[#5B5959] rounded-xl h-12 px-4 focus:outline-none;
  }

  .textarea {
    @apply mt-2 w-full border-[1px] border-[#5B5959] rounded-xl px-4 focus:outline-none;
  }
}
